---
const { lang = "en" } = Astro.props;
---

<div class="text-xs text-slate-400">
    {lang === "en" ? (
            <a href="/cz" class="hover:text-teal-400">CZ</a>
    ) : (
            <a href="/" class="hover:text-teal-400">EN</a>
    )}
</div>
