---
import { now } from "@/data/now";
---

<div class="status-readout">
    <div class="sr-row"><span class="sr-key">now_playing</span><span class="sr-val">{now.playing}</span></div>
    <div class="sr-row"><span class="sr-key">now_reading</span><span class="sr-val">{now.reading}</span></div>
    <div class="sr-row"><span class="sr-key">now_watching</span><span class="sr-val">{now.watching}</span></div>
</div>
